.top {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    align-content: space-between;
}

.action {
    display: flex;
    margin: 15pt;
    padding: 15pt;
    flex-direction: column;
    border-style: groove;
    border-radius: 15pt;
}

label {
    margin: 3pt;
    font-size: 15pt;
    font-family: sans-serif
}

input {
    font-size: 15pt;
    font-family: sans-serif;
}

#groupInvite {
    display: flex;
    flex-direction: column;
}

.bye {
    position: absolute;
    top: 80%;
    right: 10%;
}

.messages {
}

.chat-box {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.chat-box > div {
    width: 50%;
}



